{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "describe": false,
    "expect": false,
    "test": false,
    "document": false,
    "event": false
  },
  "rules": {
    "comma-dangle": "off",
    "semi": ["error", "never"],
    "quotes": [2, "single", { "avoidEscape": true }],
    "arrow-parens": ["error", "as-needed"],
    "implicit-arrow-linebreak": 0,
    "function-paren-newline": ["error", "consistent"],
    "no-undef": "off",
    "no-unused-vars": "warn",
    "max-len": [
      2,
      80,
      2,
      {
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "react/forbid-prop-types": "off",
    "react/jsx-wrap-multilines": [2, { "arrow": "parens" }],
    "react/jsx-first-prop-new-line": [1, "multiline-multiprop"],
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-autofocus": "off",
    "import/extensions": 0,
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "ignoreStrings": true,
    "ignoreTemplateLiterals": true,
    "no-console": "warn",
    "no-use-before-define": "off"
  }
}
