html,
body,
#root,
.container {
  display: flex;
  flex: 1;
  max-width: 100%;
}

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: white;
  background: #4568dc;
  background: -webkit-linear-gradient(to bottom, #b06ab3, #4568dc);
  background: linear-gradient(to bottom, #b06ab3, #4568dc);
  background-attachment: fixed;
}

body {
  margin: 0;
}

#root {
  flex-direction: column;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 620px) {
  .container {
    width: 550px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
