body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  background: transparent;
  color: white;

}

html {
  min-height: 100%;
  background: #4568DC;
  background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);  
  background: linear-gradient(to bottom, #B06AB3, #4568DC); 
}